@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
  url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  src:
  url('../fonts/hind-madurai-v11-latin-500.woff2') format('woff2'),
  url('../fonts/hind-madurai-v11-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'),
  url('../fonts/hind-madurai-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src:
  url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'),
  url('../fonts/hind-madurai-v11-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'),
  url('../fonts/hind-madurai-v11-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/fredoka-one-v13-latin-regular.woff2') format('woff2'),
  url('../fonts/fredoka-one-v13-latin-regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 20px;
}

.color {
  background-color: rgba(242, 206, 218, 0.3);
}

.header {
  margin: 0;
}

.header__container {
}

.header__top {
  display: flex;
}

.logo__link {
  margin-right: 266px;
  border: none;
}

.logo__img {
}

.header__top__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 171px;
}

.header__top__item {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.header__top__item__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #150101;
  opacity: 0.6;
}

.active__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
  color: #D23166;
}

.header__button__link {
  display: flex;
  width: 165px;
  height: 49px;
  padding: 14px 50px 13px 50px;
  text-decoration: none;
  align-items: center;
  background-color: #D23166;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
  transition: all 0.3s ease;
}

.header__button__link:hover {
  background-color: #FAFAFA;
  border: 2px solid #D23166;
  border-radius: 5px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #D23166;
}

.button__header {
  margin-top: 25px;
}

/* HERO */

.hero {
  padding: 199.5px 0;
  background-image: url("./../images/ice__cream1.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 332px) calc(70%);
}

.container {
}

.hero__container {
}

.hero__left__wrapper {
  width: 665px;
}

.hero__main__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.hero__heading {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0F0101;
  opacity: 0.9;
  margin: 0;
  margin-bottom: 35px;
}

.hero__heading__span {
  color: #D23166;
}

.hero__text {
  width: 523px;
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.6;
}

/* SERVICES */

.services {
}

.container {
}

.services__container {
}

.services__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
  margin-top: 62px;
}

.services__item {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 33px 26px;
  background-image: url("./../images/moshina.svg");
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-repeat: no-repeat;
  background-position: 100px 0;
  align-items: center;
  border-radius: 7px;
  margin-right: 40px;
}

.services__item:hover {
  background-image: url("./../images/moshina.svg");
  background-repeat: no-repeat;
  background-position: 100px 0;
  background: #FFFFFF;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

.services__item__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  margin-top: 25px;
}

.services__item__text {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.6;
  width: 198px;
}

.wok {
  background-image: url(./../images/wok.svg);
}

.valyuta {
  background-image: url(./../images/valyuta__obmen.svg);
}

.dastavka {
  background-image: url(./../images/dostavka.svg);
}

/* MINI ICE */

.minice {
  padding: 199.5px 0;
  background-image: url("./../images/mini__ice.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 332px) calc(70%);
  margin-bottom: 97px;
}

.container {
}

.minice__container {
}

.minice__left__wrapper {
  width: 665px;
}

.minice__heading {
  font-family: 'Hind Madurai';
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
  margin: 0;
  margin-bottom: 16px;
  width: 349px;
}

.minice__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
  width: 442px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

/* PRODUCT */

.product {
}

.product__container {
}

.product__heading {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  text-align: center;
}

.product__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.product__item {
  margin-bottom: 50px;
  margin-right: 40px;
}

.product__item__link {
  text-decoration: none;
}

.product__item__text {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.product__item__text__active {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-bottom: 3px solid #D64374;
}

.product__ice__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product__ice__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product__ice__img {
  width: 580px;
  height: 415px;
  object-fit: contain;
}

.product__ice__item__info {
  width: 454px;
  display: flex;
  flex-direction: column;
}

.product__ice__item:nth-child(2n) .product__ice__item__info {
  order: -1;
  align-items: flex-end;
  text-align: right;
}

.product__ice__item__heading {
  margin: 0;
  padding: 0;
  font-family: 'Hind Madurai';
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 11px;
}

.product__ice__item__text {
  line-height: 24px;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 28px;
}

.ice__price {
  margin: 0;
  margin-bottom: 16px;
}

.second__price {
  font-family: 'Hind Madurai';
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}

.first__price {
  font-family: 'Hind Madurai';
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}

/* TESTIMONIAL */

.otziv {
  background-image: url(./../images/ice__4.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 385px) calc(1503%);
  margin-bottom: 149px;
}

.otziv__container {
  padding-top: 199px;
}

.otziv__wrapper {
  display: flex;
}

.adele__img {
  margin-right: 11px;
}

.otziv__wrapper__info {
  align-items: center;
}

.otziv__wrapper__info__heading {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.otziv__wrapper__info__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.otziv__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
  width: 322px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.persons {
}

.left__arrow__img {
}

.person1 {
}

.person2 {
}

/* APP */

.app {
  background-image: url(./../images/telephone.png);
  background-repeat: no-repeat;
  background-position: calc(50% + -441px) calc(87%);
}

.app__container {
  padding-top: 144px;
  display: flex;
  margin-left: 367px;
  padding-bottom: 134px;
}

.app__wrapper__right {
}

.wrapper__right__heading {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  color: #000000;
  width: 635px;
  margin-bottom: 21px;
}

.wrapper__right__text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0F0101;
  opacity: 0.7;
  width: 607px;
  margin-bottom: 31px;
}

.wrapper__right__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper__right__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.wrapper__right__item__img {
  margin-right: 10px;
}

.wrapper__right__item__text {
}

.googleplay__logo {
}

.appstore__logo {
}

/* FORM */

.form {
}

.form__container {
  text-align: center;
  align-items: center;
}

.wrapper {
  margin-top: 72px;
}

.wrapper__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  width: 522px;
  margin-left: 350px;
}

.wrapper__form {
  display: flex;
  margin-left: 300px;
}

.wrapper__form__input {
  width: 303px;
  padding: 29px;
  margin-right: 30px;
  margin-bottom: 37px;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
}

.send__question {
  display: flex;
  margin-left: 300px;
  margin-bottom: 110px;
}

.send__question__input {
  width: 637px;
  padding: 29px;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
}

.send__question__btn {
  margin-left: -86px;
  padding: 26px;
  background: #D64374;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

/* FOOTER */

.footer {
  background-color: #0A0808;
}

.footer__container {
  padding-top: 70px;
  padding-bottom: 104px;
  display: flex;
}

.footer__start {
  margin-right: 37px;
}

.footer__logo__link {
}

.footer__logo {
  margin-bottom: 9px;
}

.footer__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
  width: 207px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.footer_social__media {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.footer__start_inner {
}

.facebook__link {
}

.facebook__img {
  margin-right: 10px;
}

.nav__wrapper {
  padding-top: 73px;
  margin-right: 132px;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
}

.nav__item__link {
  text-decoration: none;
}

.nav__item__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.nav__item__text__active {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.nav__services {
  padding-top: 80px;
  padding-right: 150px;
}

.nav__services__list {
  margin: 0;
  padding: 0;
}

.nav__services__item {
}

.nav__services__item__link {
  text-decoration: none;
}

.nav__services__item__text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 10px;
}

.footer__form__wrapper {
  padding-top: 66px;
}

.footer__form__heading {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.send__email__foter {
  margin-bottom: 18px;
}

.send__email__input__footer {
  margin: 0;
  padding: 20px;
  opacity: 0.5;
  border: 2px solid #D64374;
  border-radius: 5px;
  background-color: #0A0808;
}

.send__email__btn {
  background-color: #D23166;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 19px;
  margin-left: -5px;
}

.paypal__logo {
  margin-right: 15px;
}